@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
*:not(#icon){
    font-family: 'Manrope', sans-serif;
}

.main{
    padding-left: 14.5px;
}
.menubar{
    max-width: 254px;
    padding-top: 23px;
    padding-left: 19px;
}
h2{
    margin-top: 74px;
    font-size: 18px;
    font-weight: 600;
    line-height: 23.42px;
    color: #2e2e2e;
    letter-spacing: 1%;
    padding-left: 11px;
    margin-bottom: 8px;

}
p{
    color:  #848484;
    font-weight: 400;
    font-size: 12px;
    padding-left: 11px;
    margin-bottom: 50px;
}
.number{
    font-size: 14px;
    font-weight: 500;
}
.input-feild{
    /* max-width: 99%%; */
    margin-right: 13px;
    /* box-sizing: border-box; */
    height: 50px;
    border-radius: 6px;
    padding: 5px 15px;
    background-color: #f4f4f4;
    margin-bottom: 35px;
    
}
input{
    border: none;
    background-color: #f4f4f4;
}
button{
    background-color:#E71583;
    border: none;
    width: 100px;
    height: 31.65px;
    font-size: 11px;
    font-weight: 500;
    border-radius: 6px;
    color: white;
    
    
}
.button-text{
    padding-bottom: 2px;
}
.didnt{
    font-size: 13px;
    margin-bottom:10px;
}
a{
    text-decoration: underline;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1%;
    color: #E71583 ;
    padding-bottom: 14px;
}
#partitioned {
    padding-left: 1px;
    letter-spacing: 34px;
    border: 0;
    /* background-image: linear-gradient(to left, black 20%, rgba(255, 255, 255, 0) 0%); */
    background-position: center;
    background-size: 36px 1px;
    background-repeat: repeat-x;
    background-position-x: 35px;
    width: 169px;
    outline : none;
  }
  .button-text{
    position: relative;
    bottom: 3px;
  }
  button:hover{
    filter: brightness(95%);
}
::ng-deep .ng-otp-input-wrapper{
    display: flex;
}

@media screen and (max-width: 767px){
    ::ng-deep .otp-input{
        width: 25px !important;
        font-size: 17px !important;
        height: 30px !important;
        color: #E71583 !important;
    }
}
@media screen and (max-width: 420px){
    ::ng-deep .otp-input{
        width: 25px !important;
        font-size: 17px !important;
        height: 30px !important;
        color: #E71583 !important;
    }
}
@media screen and (max-width: 3000px){
    ::ng-deep .otp-input{
        width: 25px !important;
        font-size: 17px !important;
        height: 30px !important;
        color: #E71583 !important;
    }
}

